@media screen and (max-width: 800px) {
    .navbar-main{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}


@media screen and (max-width: 500px) {
    .navbar-menu{
        display: none;
    }
    .navbar-menu-icon{
        display: block;
    }
    .navbar-main{
        flex-direction: row;
    }
}